
PanelWidget, PanelApplet, PanelToplevel, PanelSeparator, PanelApplet > GtkMenuBar.menubar.menuitem, PanelMenuBar.menubar.menuitem, .gnome-panel-menu-bar.menuitem, PanelAppletFrame, WnckPager, WnckTasklist, .xfce4-panel, UnityPanelWidget, .unity-panel {
  
  background-color: #1A2125;
  opacity: 1;
   }

PanelApplet .button, .xfce4-panel .button {
  border-width: 0 1px;
  border-radius: 0;
  border-color: transparent;
  background-color: transparent;
  color: white; }
  PanelApplet .button:hover, .xfce4-panel .button:hover, PanelApplet .button:prelight, .xfce4-panel .button:prelight {
    background-color: transparent;
    border-color: transparent;
    color: white; }
  PanelApplet .button:active, .xfce4-panel .button:active, PanelApplet .button:checked, .xfce4-panel .button:checked {
    background-color: transparent;
    border-color: transparent;
    color: white; }
    PanelApplet .button:active:prelight, .xfce4-panel .button:active:prelight, PanelApplet .button:checked:prelight, .xfce4-panel .button:checked:prelight {
      background-color: transparent;
      border-color: transparent; }

PanelWidget, PanelApplet, PanelToplevel {
  padding: 0; }

PanelApplet {
  border: 0; }
  PanelApplet .button {
    -GtkButton-inner-border: 2; }

PanelSeparator {
  border: 0; }

PanelApplet > GtkMenuBar.menubar.menuitem, PanelMenuBar.menubar.menuitem, .gnome-panel-menu-bar.menuitem {
  border: 0;
  -PanelMenuBar-icon-visible: true; }

PanelAppletFrame {
  border: 0; }
  
XfceHeading {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
  color: #333; }

.xfce4-panel {
  font: normal; }
  .xfce4-panel .menu {
    -gtk-image-effect: none; }
